<div>
    <div class="w-full h-28 bg-[#171717] rounded-2xl p-3">
        <!-- master card logo -->
        <div class="h-full flex justify-between items-center">
            <div class="w-8 h-full justify-start items-start">
                <a href="/" class="flex">
                    <div class="w-[18px] h-[18px] rounded-full bg-[#5f72e4]"></div>
                    <div class="w-[18px] h-[18px] rounded-full bg-[#fb6340] ml-[-5px] opacity-65"></div>
                </a>
            </div>
            <div class="h-full flex flex-col justify-center items-center gap-3">
                <p class="font-extrabold text-white text-xl !m-0">DANH MỤC</p>
                <p class="!m-0 text-white">Hộp thêm mới/cập nhật</p>
            </div>
            <div class="w-8 h-full justify-start items-start">
                <button (click)="closeDialog()"><i class="far fa-times text-white text-xl"></i></button>
            </div>
        </div>
    </div>
    <div>
        <form [formGroup]="categoryForm">
            <div class="mt-5 mb-5">
                <label class="block mb-2 text-sm font-medium text-gray-900">Loại danh mục</label>
                <mat-radio-group class="flex gap-8 justify-center items-center" aria-label="Select an option"
                    (change)="onRadioChange($event)">
                    <mat-radio-button
                        class="income p-2 bg-[#ecf0fa2c] rounded-2xl [box-shadow:rgba(100,_100,_111,_0.2)_0px_7px_29px_0px]"
                        value="0" checked><span
                            class="mr-2 font-bold font-['Lexend',_sans-serif] text-[#4caf50]">Thu</span></mat-radio-button>
                    <mat-radio-button
                        class="expenditure p-2 bg-[#ecf0fa2c] rounded-2xl [box-shadow:rgba(100,_100,_111,_0.2)_0px_7px_29px_0px]"
                        value="1"><span
                            class="mr-2 font-bold font-['Lexend',_sans-serif] text-red-700">Chi</span></mat-radio-button>
                </mat-radio-group>
            </div>
            <div class="mt-5 mb-5">
                <label for="name" class="block mb-2 text-sm font-medium text-gray-900">Tên danh mục</label>
                <span class="relative flex items-center">
                    <i class="far fa-list-alt absolute right-[10px] text-[18px]"></i>
                    <input type="text" id="name" formControlName="name"
                        class="shadow-sm py-[10px] bg-slate-100 text-slate-900 text-sm rounded-md block p-2.5 w-full"
                        placeholder="VD: Ăn uống" required>
                </span>
            </div>
            <div class="mt-5 mb-5">
                <label for="description" class="block mb-2 text-sm font-medium text-gray-900">Mô tả</label>
                <span class="relative flex items-center">
                    <textarea type="text" id="description" formControlName="description"
                        class="shadow-sm py-[10px] bg-slate-100 text-slate-900 text-sm rounded-md block p-2.5 w-full"
                        placeholder="VD: Chi tiêu cho ăn uống"></textarea>
                </span>
            </div>
            <div class="mt-5 flex justify-end items-center">
                <button type="button" (click)="saveAndUpdate()"
                    class="text-white bg-gradient-to-r from-red-200 via-red-300 to-yellow-200 hover:bg-gradient-to-bl font-medium rounded-lg text-sm px-8 py-2.5 text-center me-2 mb-2">Lưu</button>
            </div>
        </form>
    </div>
</div>