<div class="flex flex-col py-[34px] gap-16">

    <!-- category page header -->
    <div class="w-full flex justify-between items-center">
        <div>
            <p class="font-extrabold">Danh mục</p>
            <p class="text-xs text-[#9BA7B5]">Quản lý thông tin danh mục</p>
        </div>
        <div class="flex items-center gap-3">
            <div
                class="w-[47px] h-[47px] rounded-2xl flex justify-center items-center border-[1px] border-[solid] border-[#e7e5e4]">
                <i class="far fa-user text-[#9BA7B5] mt-[1px] ml-[0.5px]"></i>
            </div>
            <div
                class="w-[47px] h-[47px] rounded-2xl flex justify-center items-center border-[1px] border-[solid] border-[#e7e5e4]">
                <i class="far fa-cog text-[#9BA7B5] mt-[1px] ml-[0.5px]"></i>
            </div>
            <div
                class="w-[47px] h-[47px] rounded-2xl flex justify-center items-center border-[1px] border-[solid] border-[#e7e5e4]">
                <i class="far fa-bell text-[#9BA7B5] mt-[1px] ml-[0.5px]"></i>
            </div>
        </div>
    </div>

    <div class="w-full flex flex-col justify-between gap-8">

        <!-- list of category -->
        <div>
            <!-- filter categories throught by earning and spending -->
            <div class="px-[12px] py-[8px] text-base flex gap-3">
                <button
                    class="w-[40px] h-[40px] rounded-xl flex justify-center items-center border-[1px] border-solid border-sky-100 hover:bg-sky-200 hover:border-sky-200 hover:duration-700">
                    <i class="far fa-filter text-sky-500 mt-[1px] ml-[0.5px]"></i>
                </button>
                <button
                    class="flex justify-center items-center gap-1 bg-[#edf7ed] text-[#4caf50] px-[12px] py-[8px] rounded-[10px] cursor-pointer text-xs hover:bg-[#d2f9d2]">
                    <i class="far fa-sack-dollar mt-[2px]"></i> Danh sách thu
                </button>
                <button
                    class="flex justify-center items-center gap-1 bg-red-100 text-red-700 px-[12px] py-[8px] rounded-[10px] cursor-pointer text-xs hover:bg-red-200">
                    <i class="far fa-sack mt-[2px]"></i> Danh sách chi
                </button>
            </div>

            <!-- table list of categories -->
            <div
                class="relative overflow-x-auto border border-dashed bg-clip-border rounded-2xl border-stone-200 px-9 py-8">
                <div class="flex justify-between items-center px-5">
                    <div class="py-5">
                        <span class="relative z-0">
                            <i class="far fa-search absolute top-[3px] left-[16px] text-[#9BA7B5]"></i>
                            <input class="pl-10 pr-2 py-[10px] border-[1px] border-solid border-[#e7e5e4] rounded-2xl"
                                type="text" placeholder="Tìm kiếm..." />
                        </span>
                    </div>
                    <div
                        class="flex justify-center items-center gap-1 bg-[#f2f3f4] px-[12px] py-[8px] rounded-[10px] cursor-pointer text-xs hover:bg-[#d5dae0]">
                        <i class="far fa-box-open mt-[2px]"></i> Thêm danh mục
                    </div>
                </div>
                <ng-container *ngIf="categories">
                    <p-table [value]="categories"
                        class="block w-full min-w-[800px] text-sm text-left rtl:text-right text-gray-500">
                        <ng-template pTemplate="header">
                            <tr class="text-xs text-gray-700 uppercase bg-gray-50">
                                <th scope="col" class="px-6 py-3 text-center">Tên danh mục</th>
                                <th scope="col" class="px-6 py-3 text-center">Thu/chi</th>
                                <th scope="col" class="px-6 py-3 text-center">Thời gian sử dụng</th>
                                <th scope="col" class="px-6 py-3 text-center">Loại danh mục</th>
                                <th scope="col" class="px-6 py-3 text-center">Thao tác</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-category let-rowIndex="rowIndex">
                            <tr class="bg-white border-b" [ngClass]="{'border-b': rowIndex !== categories.length - 1}">
                                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
                                    {{ category.name }}
                                </th>
                                <td class="px-6 py-4 text-left">{{ formatNumber(category.amount) }} đ</td>
                                <ng-container [ngSwitch]="category.type">
                                    <td class="px-6 py-4 text-center">
                                        <span [ngClass]="{
                                            'text-red-700 bg-red-100': category.type === 'EXPENDITURE',
                                            'text-[#4caf50] bg-[#edf7ed]': category.type === 'INCOME'
                                        }" class="px-[12px] py-[8px] rounded-[10px]">
                                            <i class="far fa-clock mt-[2px] mr-1"></i><span>{{ category.updatedAt |
                                                date: 'dd - MM | hh:mm' }}</span>
                                        </span>
                                    </td>
                                    <td class="px-6 py-4 text-center uppercase" [ngClass]="{
                                        'text-red-700': category.type === 'EXPENDITURE',
                                        'text-[#4caf50]': category.type === 'INCOME'
                                    }">{{ category.typeName }}</td>
                                </ng-container>
                                <td class="px-6 py-4 flex justify-center items-center gap-3">
                                    <i class="far fa-pencil-alt cursor-pointer"></i>
                                    <i class="far fa-trash-alt cursor-pointer" (click)="messageBox(category.id)"></i>
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </ng-container>
            </div>
        </div>

        <!-- change frequency -->
        <div>
            <div
                class="relative w-fit flex flex-col min-w-0 break-words bg-amber-700 border-0 bg-clip-border rounded-2xl mb-5">
                <div class="px-9 pt-5 flex justify-between items-stretch flex-wrap min-h-[70px] pb-0 bg-transparent">
                    <div class="flex flex-col items-start justify-center m-2 ml-0 font-medium text-xl/normal text-dark">
                        <span class="text-gray-100 text-5xl/none font-semibold mr-2 tracking-[-0.115rem]"><i
                                class="far fa-chart-line"></i></span>
                        <span class="pt-1 font-medium text-gray-100 text-lg/normal">Tần suất biến động trong ngày</span>
                    </div>
                </div>
                <div class="flex items-end flex-auto py-8 pt-0 px-9">
                    <div class="items-center w-full mt-3">
                        <div class="rounded-2xl h-[8px] w-full bg-gray-100">
                            <div class="rounded-2xl bg-dark w-[85%] h-[8px]"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div
                class="relative flex flex-col min-w-0 break-words border border-dashed bg-clip-border rounded-2xl border-stone-200 bg-light/30 mb-5">

                <!-- card body  -->
                <div class="flex-auto block py-8 pt-6 px-9">
                    <div
                        class="relative before:content-[''] before:absolute before:left-[51px] before:w-[3px] before:inset-y-0 before:bg-light-dark">

                        <div class="relative flex items-start mb-7">

                            <div
                                class="block relative shrink-0 w-[50px] text-secondary-inverse font-semibold text-md/normal before:absolute before:content-[''] before:left-[51px] before:w-[3px] before:inset-y-0 before:bg-light-dark">
                                09:15</div>

                            <div
                                class="shrink-0 bg-white w-4 h-4 rounded-full flex items-center justify-center relative z-10 mt-px -ml-2 p-[3px] border-[6px] border-solid border-white">
                                <i class="fa fa-circle text-dark text-md/normal"></i>
                            </div>

                            <div class="text-stone-500 font-medium pl-3 text-[0.95rem]">Ăn xôi buổi sáng gần công ty
                                bên Nghi Tàm
                            </div>
                        </div>

                        <div class="relative flex items-center mb-7">
                            <!--begin::Label-->
                            <div
                                class="block relative shrink-0 w-[50px] text-secondary-inverse font-semibold text-md/normal before:absolute before:content-[''] before:left-[51px] before:w-[3px] before:inset-y-0 before:bg-light-dark">
                                12:30</div>
                            <!--end::Label-->

                            <!--begin::Badge-->
                            <div
                                class="shrink-0 bg-white w-4 h-4 rounded-full flex items-center justify-center relative z-10 mt-px -ml-2 p-[3px] border-[6px] border-solid border-white">
                                <i class="fa fa-circle text-danger text-md/normal"></i>
                            </div>
                            <!--end::Badge-->

                            <!--begin::Content-->
                            <div class="flex items-center">
                                <span class="px-3 font-semibold text-warning">Ăn trưa tại canteen trong công ty</span>
                            </div>
                            <!--end::Content-->
                        </div>

                        <div class="relative flex items-center mb-7">
                            <!--begin::Label-->
                            <div
                                class="block relative shrink-0 w-[50px] text-secondary-inverse font-semibold text-md/normal before:absolute before:content-[''] before:left-[51px] before:w-[3px] before:inset-y-0 before:bg-light-dark">
                                15:45</div>
                            <!--end::Label-->

                            <!--begin::Badge-->
                            <div
                                class="shrink-0 bg-white w-4 h-4 rounded-full flex items-center justify-center relative z-10 mt-px -ml-2 p-[3px] border-[6px] border-solid border-white">
                                <i class="fa fa-circle text-info text-md/normal"></i>
                            </div>
                            <!--end::Badge-->

                            <!--begin::Content-->
                            <div class="px-3 font-semibold text-secondary-inverse grow">
                                Ăn nhẹ giữa giờ chiều
                            </div>
                            <!--end::Content-->
                        </div>

                        <div class="relative flex items-start mb-7">

                            <div
                                class="block relative shrink-0 w-[50px] text-secondary-inverse font-semibold text-md/normal before:absolute before:content-[''] before:left-[51px] before:w-[3px] before:inset-y-0 before:bg-light-dark">
                                17:30</div>

                            <div
                                class="shrink-0 bg-white w-4 h-4 rounded-full flex items-center justify-center relative z-10 mt-px -ml-2 p-[3px] border-[6px] border-solid border-white">
                                <i class="fa fa-circle text-primary text-md/normal"></i>
                            </div>

                            <div class="text-stone-500 font-medium pl-3 text-[0.95rem]">Mua quần áo</div>
                        </div>

                        <div class="relative flex items-center mb-7">
                            <!--begin::Label-->
                            <div
                                class="block relative shrink-0 w-[50px] text-secondary-inverse font-semibold text-md/normal before:absolute before:content-[''] before:left-[51px] before:w-[3px] before:inset-y-0 before:bg-light-dark">
                                20:15</div>
                            <!--end::Label-->

                            <!--begin::Badge-->
                            <div
                                class="shrink-0 bg-white w-4 h-4 rounded-full flex items-center justify-center relative z-10 mt-px -ml-2 p-[3px] border-[6px] border-solid border-white">
                                <i class="fa fa-circle text-dark text-md/normal"></i>
                            </div>
                            <!--end::Badge-->

                            <!--begin::Content-->
                            <div class="px-3 font-medium text-secondary-inverse grow">
                                Ăn cơm tối tại quán cơm gần nhà bên Nghi Tàm
                            </div>
                            <!--end::Content-->
                        </div>

                        <div class="relative flex items-start mb-7">

                            <div
                                class="block relative shrink-0 w-[50px] text-secondary-inverse font-semibold text-md/normal before:absolute before:content-[''] before:left-[51px] before:w-[3px] before:inset-y-0 before:bg-light-dark">
                                22:00</div>

                            <div
                                class="shrink-0 bg-white w-4 h-4 rounded-full flex items-center justify-center relative z-10 mt-px -ml-2 p-[3px] border-[6px] border-solid border-white">
                                <i class="fa fa-circle text-info text-md/normal"></i>
                            </div>

                            <div class="text-stone-500 font-medium pl-3 text-[0.95rem]">Đặt một cốc trà sữa size XL
                            </div>
                        </div>

                    </div>

                </div>
                <!-- end card body  -->
            </div>
        </div>
    </div>
</div>