<div class="flex flex-col py-[34px] gap-16">

    <!-- category page header -->
    <div class="w-full flex justify-between items-center">
        <div>
            <p class="font-extrabold">Danh mục</p>
            <p class="text-xs text-[#9BA7B5]">Quản lý thông tin danh mục</p>
        </div>
        <div class="flex items-center gap-3">
            <div
                class="w-[47px] h-[47px] rounded-2xl flex justify-center items-center border-[1px] border-[solid] border-[#e7e5e4]">
                <i class="far fa-user text-[#9BA7B5] mt-[1px] ml-[0.5px]"></i>
            </div>
            <div
                class="w-[47px] h-[47px] rounded-2xl flex justify-center items-center border-[1px] border-[solid] border-[#e7e5e4]">
                <i class="far fa-cog text-[#9BA7B5] mt-[1px] ml-[0.5px]"></i>
            </div>
            <div
                class="w-[47px] h-[47px] rounded-2xl flex justify-center items-center border-[1px] border-[solid] border-[#e7e5e4]">
                <i class="far fa-bell text-[#9BA7B5] mt-[1px] ml-[0.5px]"></i>
            </div>
        </div>
    </div>

    <div class="w-full flex justify-between gap-8">

        <!-- list of category -->
        <div>
            <div class="flex-auto block py-8 px-9 bg-gray-100 rounded-3xl">
                <div class="m-0 z-20 h-full relative">
                    <div class="relative z-20 w-3/4">
                        <p class="text-2xl font-semibold">Danh sách danh mục</p>
                        <p class="mb-7 text-xs">Tất cả các danh mục thu/chi</p>
                    </div>
                </div>
            </div>

            <!-- filter categories throught by earning and spending -->
            <div class="mt-[34px] px-[12px] py-[8px] text-base flex gap-3">
                <button
                    class="w-[40px] h-[40px] rounded-xl flex justify-center items-center border-[1px] border-[solid] border-[#edf7ed] hover:bg-[#edf7ed]">
                    <i class="far fa-coins text-[#4caf50] mt-[1px] ml-[0.5px]"></i>
                </button>
                <button
                    class="w-[40px] h-[40px] rounded-xl flex justify-center items-center border-[1px] border-[solid] border-red-100 hover:bg-red-100">
                    <i class="far fa-coin text-red-700 mt-[1px] ml-[0.5px]"></i>
                </button>
            </div>

            <!-- table list of categories -->
            <div class="border border-dashed bg-clip-border rounded-2xl border-stone-200 px-9 py-8">
                <div class="flex justify-between items-center px-5">
                    <div class="py-5">
                        <span class="relative">
                            <i class="far fa-search absolute top-[3px] left-[16px] text-[#9BA7B5]"></i>
                            <input class="pl-10 pr-2 py-[10px] border-[1px] border-[solid] border-[#e7e5e4] rounded-2xl"
                                type="text" placeholder="Tìm kiếm..." />
                        </span>
                    </div>
                    <div
                        class="flex justify-center items-center gap-1 bg-[#f2f3f4] px-[12px] py-[8px] rounded-[10px] cursor-pointer text-xs hover:bg-[#d5dae0]">
                        <i class="far fa-box-open mt-[2px]"></i> Thêm danh mục
                    </div>
                </div>
                <table class="w-full min-w-[700px] text-sm text-left rtl:text-right text-gray-500">
                    <tbody>
                        <tr class="bg-white border-b">
                            <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
                                Ăn uống
                            </th>
                            <td class="px-6 py-4">450.000 đ</td>
                            <td class="px-6 py-4 text-right">
                                <span class="px-[12px] py-[8px] rounded-[10px] text-[#4caf50] bg-[#edf7ed]">
                                    <i class="far fa-clock mt-[2px] mr-1"></i><span>06 - 03 - 2024</span>
                                </span>
                            </td>
                            <td class="px-6 py-4 text-red-700">Chi</td>
                            <td class="px-6 py-4 flex justify-center items-center gap-3">
                                <i class="far fa-pencil-alt"></i>
                                <i class="far fa-trash-alt"></i>
                            </td>
                        </tr>
                        <tr class="bg-white border-b">
                            <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
                                Lương
                            </th>
                            <td class="px-6 py-4">450.000 đ</td>
                            <td class="px-6 py-4 text-right">
                                <span class="px-[12px] py-[8px] rounded-[10px] text-[#4caf50] bg-[#edf7ed]">
                                    <i class="far fa-clock mt-[2px] mr-1"></i><span>06 - 03 - 2024</span>
                                </span>
                            </td>
                            <td class="px-6 py-4 text-[#4caf50]">Thu</td>
                            <td class="px-6 py-4 flex justify-center items-center gap-3">
                                <i class="far fa-pencil-alt"></i>
                                <i class="far fa-trash-alt"></i>
                            </td>
                        </tr>
                        <tr class="bg-white border-b">
                            <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
                                Chi tiêu khác
                            </th>
                            <td class="px-6 py-4">450.000 đ</td>
                            <td class="px-6 py-4 text-right">
                                <span class="px-[12px] py-[8px] rounded-[10px] text-[#4caf50] bg-[#edf7ed]">
                                    <i class="far fa-clock mt-[2px] mr-1"></i><span>06 - 03 - 2024</span>
                                </span>
                            </td>
                            <td class="px-6 py-4 text-red-700">Chi</td>
                            <td class="px-6 py-4 flex justify-center items-center gap-3">
                                <i class="far fa-pencil-alt"></i>
                                <i class="far fa-trash-alt"></i>
                            </td>
                        </tr>
                        <tr class="bg-white border-b">
                            <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
                                Sẵn có
                            </th>
                            <td class="px-6 py-4">450.000 đ</td>
                            <td class="px-6 py-4 text-right">
                                <span class="px-[12px] py-[8px] rounded-[10px] text-[#4caf50] bg-[#edf7ed]">
                                    <i class="far fa-clock mt-[2px] mr-1"></i><span>06 - 03 - 2024</span>
                                </span>
                            </td>
                            <td class="px-6 py-4 text-[#4caf50]">Thu</td>
                            <td class="px-6 py-4 flex justify-center items-center gap-3">
                                <i class="far fa-pencil-alt"></i>
                                <i class="far fa-trash-alt"></i>
                            </td>
                        </tr>
                        <tr class="bg-white">
                            <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
                                Thu nhập khác
                            </th>
                            <td class="px-6 py-4">450.000 đ</td>
                            <td class="px-6 py-4 text-right">
                                <span class="px-[12px] py-[8px] rounded-[10px] text-[#4caf50] bg-[#edf7ed]">
                                    <i class="far fa-clock mt-[2px] mr-1"></i><span>06 - 03 - 2024</span>
                                </span>
                            </td>
                            <td class="px-6 py-4 text-[#4caf50]">Thu</td>
                            <td class="px-6 py-4 flex justify-center items-center gap-3">
                                <i class="far fa-pencil-alt"></i>
                                <i class="far fa-trash-alt"></i>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <!-- change frequency -->
        <div>
            <div
                class="relative w-72 flex flex-col min-w-0 break-words bg-[#171717] border-0 bg-clip-border rounded-2xl mb-5">
                <div class="px-9 pt-5 flex justify-between items-stretch flex-wrap min-h-[70px] pb-0 bg-transparent">
                    <div class="flex flex-col items-start justify-center m-2 ml-0 font-medium text-xl/normal text-dark">
                        <span class="text-gray-100 text-5xl/none font-semibold mr-2 tracking-[-0.115rem]"><i
                                class="far fa-chart-line"></i></span>
                        <span class="pt-1 font-medium text-gray-100 text-lg/normal">Tần suất biến động</span>
                    </div>
                </div>
                <div class="flex items-end flex-auto py-8 pt-0 px-9">
                    <div class="items-center w-full mt-3">
                        <div class="rounded-2xl h-[8px] w-full bg-gray-100">
                            <div class="rounded-2xl bg-dark w-[85%] h-[8px]"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>