<div class="flex flex-col py-[34px] gap-16">

    <!-- category page header -->
    <div class="w-full flex justify-between items-center">
        <div>
            <p class="font-extrabold">Danh mục</p>
            <p class="text-xs text-[#9BA7B5]">Quản lý thông tin danh mục</p>
        </div>
        <div class="flex items-center gap-3">
            <div
                class="w-[47px] h-[47px] rounded-2xl flex justify-center items-center border-[1px] border-[solid] border-[#e7e5e4]">
                <i class="far fa-user text-[#9BA7B5] mt-[1px] ml-[0.5px]"></i>
            </div>
            <div
                class="w-[47px] h-[47px] rounded-2xl flex justify-center items-center border-[1px] border-[solid] border-[#e7e5e4]">
                <i class="far fa-cog text-[#9BA7B5] mt-[1px] ml-[0.5px]"></i>
            </div>
            <div
                class="w-[47px] h-[47px] rounded-2xl flex justify-center items-center border-[1px] border-[solid] border-[#e7e5e4]">
                <i class="far fa-bell text-[#9BA7B5] mt-[1px] ml-[0.5px]"></i>
            </div>
        </div>
    </div>

    <div class="w-full flex flex-col justify-between gap-8">

        <!-- list of category -->
        <div>
            <!-- filter categories throught by earning and spending -->
            <div class="px-[12px] py-[8px] text-base flex gap-3">
                <button
                    class="w-[40px] h-[40px] rounded-xl flex justify-center items-center border-[1px] border-solid border-sky-100 hover:bg-sky-200 hover:border-sky-200 hover:duration-700">
                    <i class="far fa-filter text-sky-500 mt-[1px] ml-[0.5px]"></i>
                </button>
                <button
                    class="flex justify-center items-center gap-1 bg-[#edf7ed] text-[#4caf50] px-[12px] py-[8px] rounded-[10px] cursor-pointer text-xs hover:bg-[#d2f9d2]">
                    <i class="far fa-sack-dollar mt-[2px]"></i> Danh sách thu
                </button>
                <button
                    class="flex justify-center items-center gap-1 bg-red-100 text-red-700 px-[12px] py-[8px] rounded-[10px] cursor-pointer text-xs hover:bg-red-200">
                    <i class="far fa-sack mt-[2px]"></i> Danh sách chi
                </button>
            </div>

            <!-- list of categories -->
            <div
                class="relative overflow-x-auto border border-dashed bg-clip-border rounded-2xl border-stone-200 px-9 py-8">
                <!-- search input and add category button -->
                <div class="flex justify-between items-center px-5">
                    <div class="py-5">
                        <span class="relative z-0">
                            <i class="far fa-search absolute top-[3px] left-[16px] text-[#9BA7B5]"></i>
                            <input class="pl-10 pr-2 py-[10px] border-[1px] border-solid border-[#e7e5e4] rounded-2xl"
                                type="text" placeholder="Tìm kiếm..." />
                        </span>
                    </div>
                    <button
                        class="flex justify-center items-center gap-1 bg-[#f2f3f4] px-[12px] py-[8px] rounded-[10px] cursor-pointer text-xs hover:bg-[#d5dae0]"
                        (click)="addCategory(null)">
                        <i class="far fa-box-open mt-[2px]"></i> Thêm danh mục
                    </button>
                </div>

                <!-- table -->
                <ng-container *ngIf="categories">
                    <p-table [value]="categories"
                        class="block w-full min-w-[800px] text-sm text-left rtl:text-right text-gray-500">
                        <ng-template pTemplate="header">
                            <tr class="text-xs text-gray-700 uppercase bg-gray-50">
                                <th scope="col" class="px-6 py-3 text-center">Tên danh mục</th>
                                <th scope="col" class="px-6 py-3 text-center">Tổng thu/chi</th>
                                <th scope="col" class="px-6 py-3 text-center">Thời gian sử dụng</th>
                                <th scope="col" class="px-6 py-3 text-center">Loại danh mục</th>
                                <th scope="col" class="px-6 py-3 text-center">Thao tác</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-category let-rowIndex="rowIndex">
                            <tr class="bg-white border-b" [ngClass]="{'border-b': rowIndex !== categories.length - 1}">
                                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
                                    {{ category.name }}
                                </th>
                                <td class="px-6 py-4 text-left">{{ formatNumber(category.amount) }} đ</td>
                                <ng-container [ngSwitch]="category.type">
                                    <td class="px-6 py-4 text-center">
                                        <span [ngClass]="{
                                            'text-red-700 bg-red-100': category.type === 'EXPENDITURE',
                                            'text-[#4caf50] bg-[#edf7ed]': category.type === 'INCOME'
                                        }" class="px-[12px] py-[8px] rounded-[10px]">
                                            <i class="far fa-clock mt-[2px] mr-1"></i><span>{{ category.updatedAt |
                                                date: 'dd - MM | hh:mm' }}</span>
                                        </span>
                                    </td>
                                    <td class="px-6 py-4 text-center uppercase" [ngClass]="{
                                        'text-red-700': category.type === 'EXPENDITURE',
                                        'text-[#4caf50]': category.type === 'INCOME'
                                    }">{{ category.typeName }}</td>
                                </ng-container>
                                <td class="px-6 py-4 flex justify-center items-center gap-3">
                                    <i class="far fa-pencil-alt cursor-pointer"></i>
                                    <i class="far fa-trash-alt cursor-pointer" (click)="messageBox(category.id)"></i>
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </ng-container>
            </div>
        </div>

        <!-- sumary total transaction money -->
        <div class="flex gap-8 justify-center">
            <div
                class="bg-[#ecf0fa2c] [box-shadow:rgba(100,_100,_111,_0.2)_0px_7px_29px_0px] flex items-center gap-4 p-4 rounded-2xl">
                <div>
                    <div
                        class="w-12 h-12 p-6 flex justify-center items-center border-[5px] border-solid border-red-100 rounded-full">
                        <span class="p-2 bg-red-100 rounded-full">
                            <i class="fad fa-money-check-alt text-red-700"></i>
                        </span>
                    </div>
                </div>
                <div>
                    <p class="text-red-700">Tổng Chi</p>
                    <p class="text-gray-500">{{ totalSpend }} đ</p>
                </div>
            </div>
            <div
                class="bg-[#ecf0fa2c] [box-shadow:rgba(100,_100,_111,_0.2)_0px_7px_29px_0px] flex items-center gap-4 p-4 rounded-2xl">
                <div>
                    <div
                        class="w-12 h-12 p-6 flex justify-center items-center border-[5px] border-solid border-[#e1f7e1] rounded-full">
                        <span class="p-2 bg-[#edf7ed] rounded-full">
                            <i class="fad fa-money-check-alt text-[#4caf50]"></i>
                        </span>
                    </div>
                </div>
                <div>
                    <p class="text-[#4caf50]">Tổng Thu</p>
                    <p class="text-gray-500">{{ totalEarn }} đ</p>
                </div>
            </div>
            <div
                class="bg-[#ecf0fa2c] [box-shadow:rgba(100,_100,_111,_0.2)_0px_7px_29px_0px] flex items-center gap-4 p-4 rounded-2xl">
                <div>
                    <div
                        class="w-12 h-12 p-6 flex justify-center items-center border-[5px] border-solid border-yellow-100 rounded-full">
                        <span class="p-2 bg-yellow-100 rounded-full">
                            <i class="fad fa-money-check-alt text-yellow-700"></i>
                        </span>
                    </div>
                </div>
                <div>
                    <p class="text-yellow-700">Khả Dụng</p>
                    <p class="text-gray-500">{{ totalBalance }} đ</p>
                </div>
            </div>
        </div>
    </div>
</div>