<div>
    <div class="w-full h-28 bg-[#171717] rounded-2xl p-3">
        <!-- master card logo -->
        <div class="h-full flex justify-between items-center">
            <div class="w-8 h-full justify-start items-start">
                <a href="/" class="flex">
                    <div class="w-[18px] h-[18px] rounded-full bg-[#5f72e4]"></div>
                    <div class="w-[18px] h-[18px] rounded-full bg-[#fb6340] ml-[-5px] opacity-65"></div>
                </a>
            </div>
            <div class="h-full flex flex-col justify-center items-center gap-3">
                <p class="font-extrabold text-white text-xl !m-0">THU/CHI</p>
                <p class="!m-0 text-white">Hộp thêm mới/cập nhật</p>
            </div>
            <div class="w-8 h-full justify-start items-start">
                <button (click)="closeDialog()"><i class="far fa-times text-white text-xl"></i></button>
            </div>
        </div>
    </div>
    <div>
        <form [formGroup]="transactionForm">
            <!-- select wallet and category -->
            <div class="grid grid-cols-2 gap-2 mt-5 mb-5">
                <!-- select wallet -->
                <div>
                    <label class="block mb-2 text-sm font-medium text-gray-900">Chọn ví</label>
                    <span class="relative flex items-center">
                        <mat-form-field appearance="outline"
                            class="shadow-sm bg-slate-100 text-slate-900 text-sm rounded-md block w-full h-fit">
                            <mat-select formControlName="wallets">
                                <mat-option *ngFor="let wallet of wallets" [value]="wallet.id">{{ wallet.name
                                    }}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </span>
                </div>

                <!-- select category -->
                <div>
                    <label class="block mb-2 text-sm font-medium text-gray-900">Chọn danh mục</label>
                    <span class="relative flex items-center">
                        <mat-form-field appearance="outline"
                            class="shadow-sm bg-slate-100 text-slate-900 text-sm rounded-md block w-full h-fit">
                            <mat-select formControlName="categories">
                                <mat-option *ngFor="let category of categories" [value]="category.id">{{ category.name
                                    }}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </span>
                </div>
            </div>

            <!-- enter amount and pick time for transaction -->
            <div class="grid grid-cols-2 gap-2 mt-5 mb-5">
                <!-- enter amount of transaction -->
                <div>
                    <label for="size-name" class="block mb-2 text-sm font-medium text-gray-900">Số tiền</label>
                    <span class="relative flex items-center">
                        <input type="text" id="size-name" formControlName="amount"
                            class="shadow-sm py-[10px] bg-slate-100 text-slate-900 text-sm rounded-md block p-2.5 w-full"
                            placeholder="VD: 250.000" required>
                        <span class="absolute right-[10px]">VNĐ</span>
                    </span>
                </div>

                <!-- pick time of transaction -->
                <div>
                    <label for="size-name" class="block mb-2 text-sm font-medium text-gray-900">Thời điểm giao
                        dịch</label>
                    <span class="relative flex items-center">
                        <mat-form-field appearance="outline"
                            class="shadow-sm bg-slate-100 text-slate-900 text-sm rounded-md block w-full h-fit">
                            <input matInput [matDatepicker]="picker" formControlName="transactionTime"
                                class="shadow-sm py-[10px] bg-slate-100 text-slate-900 text-sm rounded-md block p-2.5 w-full">
                            <mat-datepicker-toggle matIconSuffix [for]="picker">
                            </mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
                    </span>
                </div>
            </div>

            <!-- enter transaction description -->
            <div class="mt-5 mb-5">
                <label for="description" class="block mb-2 text-sm font-medium text-gray-900">Nội dung giao dịch</label>
                <span class="relative flex items-center">
                    <textarea type="text" id="description" formControlName="description"
                        class="shadow-sm py-[10px] bg-slate-100 text-slate-900 text-sm rounded-md block p-2.5 w-full"
                        placeholder="VD: Ăn tại Nollowa cùng bạn bè"></textarea>
                </span>
            </div>

            <!-- save and update button -->
            <div class="mt-5 flex justify-end items-center">
                <button type="button" (click)="saveAndUpdate()"
                    class="text-white bg-gradient-to-r from-red-200 via-red-300 to-yellow-200 hover:bg-gradient-to-bl font-medium rounded-lg text-sm px-8 py-2.5 text-center me-2 mb-2">Lưu</button>
            </div>
        </form>
    </div>
</div>